.card {
    
    //FUNCTIONALITY    
    perspective: 150rem;
    -moz-perspective: 150rem;
    
    height: 50rem; // comme position absolute, il faut que le parent aie le meme height que lenfant

    transition: all .8s;
    position: relative;

    &__side {
        transition: all .8s ease;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        //for safari
        -webkit-backface-visibility: hidden; // permet devite de voir le revers de card
        backface-visibility: hidden; // permet devite de voir le revers de card
        border-radius: 3px; // quand cest des petites unites pas la peine de calculer en rem

        overflow: hidden; // border-radius sont couvert par limage, overflow cache leffet de bord
        
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
           
        }

        &--back {
            transform: rotateY(-180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }
    
    &:hover &__side--front{
        transform: rotateY(180deg);
    }

    &:hover &__side--back{
        transform: rotateY(0);
    }

    // FRONT STYLE STYLING
    &__picture {
        
        background-size: cover;
        height: 32rem; 
        background-blend-mode: screen; // dosn't work on internet explorer and edge
        
        // <<<< A cause du clip-path le overflow:hidden qui permet de cacher le debordement dimage nest plus active 
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        
        // Du coup, il faut le faire manuellement
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;



        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
            url(../img/nat-5.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
            url(../img/nat-6.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
            url(../img/nat-7.jpg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;

        width: 80%;

    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone; // permet de traiter les 2 text de H4 comme deux elements distincs au niveau des box, du coup ils sont bien alignes verticalement
        box-decoration-break: clone;
        
        &--1 {
            background-image: linear-gradient(
                to right bottom, 
                rgba($color-secondary-light, .85), 
                rgba($color-secondary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(
                to right bottom, 
                rgba($color-primary-light, .85), 
                rgba($color-primary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(
                to right bottom, 
                rgba($color-tertiary-light, .85), 
                rgba($color-tertiary-dark, .85));
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto; // permet de centrer le child

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }

            }
        }
    }

    // FRONT STYLE STYLING
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }


    // hover none permet de savoir si le device a hover ou pas, les tactiles ne l'ont pas
    //@include respond(tab-por)
    @media only screen and (max-width: 56.25em), 
        only screen and (hover:none) {
            
            height: auto; // comme position absolute, il faut que le parent aie le meme height que lenfant
            border-radius: 3px;
            background-color: $color-white;
            box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

            &__side {
                height: auto;
                position: relative;
                box-shadow: none;

                &--front {
                
                }

                &--back {
                    transform: rotateY(0);
                    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);

                }
            }
            
            &:hover &__side--front{
                transform: rotateY(0);
            }

            &__details {
                padding: 1rem 3rem;
            }

            // FRONT STYLE STYLING
            &__cta {
                position: relative;
                top: 0;
                left: 0;
                transform: translate(0);
                width: 100%;
                padding: 7rem 4rem 4rem 4rem;
            }

            &__price-box {
                margin-bottom: 3rem;

            }

            &__price-value {
                font-size: 4rem;
                font-weight: 100;
            }
                
        }
            
}